@use '../../variables.scss';
/***** BrandsBanner **********/

.brands-container {
    background-color: variables.$col-accent;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands-item {
    margin: 0 1rem;
}


/******* HomeProductSearch ********/

.shop-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-card {
    padding: 5px;
    width: 276px;
    height: 326px;
    background-color: variables.$col-bg-grey;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: variables.$poppins;
    font-weight: 600;
    margin: 65px 10px;
    
}

.shop-card h3 {
    color: variables.$col-accent;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
}

.shop-card.search {
    background-color: variables.$col-primary;
    display: flex;
    flex-direction: column;
}

.shop-card.search h3 {
    font-size: 22px;
    line-height: 25px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-form input, .search-form select {
    margin: 0 0 8px 0;
    text-align: center;
    width: 225px;
    height: 35px;
    box-shadow: inset 0px 4px 10px rgba(83, 83, 83, 0.08);
    border-radius: 50px;
    background-color: variables.$col-text-white;
    border: 1px solid variables.$col-bg-grey;
    font-family: variables.$poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    align-self: center;
}

.search-form button {
    width: 99px;
    height: 35px;
    border: none;
    background-color: variables.$col-accent;
    color: variables.$col-text-white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;

    font-family: variables.$poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    align-self: flex-end;
    margin-right: 23px;
}

.divider {
    margin: 20px 0 20px 0;
    border: 1px solid variables.$col-accent;
    width: 85%;
    align-self: center;
}

.shop-card.latest {
    background-image: url('../../Assets/Homepage/Body/shopLatest.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
}
.shop-card.best {
    background-image: url('../../Assets/Homepage/Body/shopBest.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
}
.shop-card.sale {
    background-image: url('../../Assets/Homepage/Body/shopSale.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
}


/********* Testimonials ***************/

.test-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: variables.$poppins;
    color: variables.$col-accent;
}
.test-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
}
.test-navbar {
    display: flex;
    text-align: center;
    align-items: center;
    
}
.test-navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
    margin: 0 15px;
    background-color: variables.$col-primary-light;
    border-radius: 40px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.1));
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    &:hover {
        cursor: pointer;
    }
}
.test-navbar-item.active {
    background-color: variables.$col-primary;
}
.test-content {
    margin: 30px;
}

.review-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-card {
    display: flex;
    width: 400px;
    height: 210px;
    margin: 0 10px;
    background-color: variables.$col-text-white;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
}
.card-text {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding: 2px;
}

.card-text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 5px 0;
}
.card-text h3 {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 -5px 0;
}

.review-arrows {
    font-size: 40px;
    color: variables.$col-accent;
    margin: 30px;
}

.review-page-count {
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-page-count > div {
    margin: 50px 5px 0 5px;
}
.review-page-circle {
    color: variables.$col-primary-light;
    text-align: center;
}
.review-page-circle.active {
    color: variables.$col-primary
}


/******** LEARN MORE ***************/
.learnMore-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: variables.$poppins;
    color: variables.$col-accent;
}
.learnMore-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.learnMore-item.left {
    background-color: variables.$col-bg-grey;
}
.learnMore-item.left div {
    align-self: flex-end;
    margin-right: 150px;
    width: 450px;
}
.learnMore-item.right div {
    align-self: flex-start;
    margin-left: 150px;
    width: 450px;
}
.learnMore-item.right {
    background-color: variables.$col-text-white;
}
.learnMore-header {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-decoration: underline solid variables.$col-primary 5px;
    text-underline-offset: 2px;
    text-decoration-skip-ink: none;
}
.learnMore-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.learnMore-btn {
    background-color: variables.$col-accent;
    color: variables.$col-text-white;
    font-family: variables.$poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    border: none;
    width: 122px;
    height: 35px;
    float: right;
    &:hover {
        background-color: variables.$col-primary;
    }
}