@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap';


$col-primary: #EC1C24;
$col-primary-light: #FFD6D7;
$col-accent: #292929;
$col-bg-white: #FFFFFF;
$col-text-white: #F5F5F5;
$col-bg-grey: #E4E9ED;
$col-button-grey: #D0D7DD;

$poppins: 'Poppins', sans-serif;
$fontSizeMain: 18px;
